@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Urbanist:wght@500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.marcellus {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

  

  .urbanist-pop {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  